<div style="margin:30px auto;padding:20px;">
  <div style="width:1000px;margin:auto;">
    <p style="padding-left: 0;font-size: 20px;margin-top: 30px;" class="col-md-12">Please type in patient's SSN: </p>
    <input class="form-control col-md-8"  type="text" [(ngModel)]="ssn" />
    <button class="btn btn-risc col-md-3" style="margin-top:20px;" (click)="getSurveysBySSN()">Search</button>
    
  </div>
  
  <div class="col-md-10 offset-md-1" style="margin-top:60px;">
  <div *ngIf="showTable">
    <div style="display:grid;grid-template-columns:auto auto;margin-top:30px;margin-bottom:20px;">
      <div>MRN:{{ssn}}</div>
      <div>Patient's Name:{{patientName}}</div>
    </div>
    <button class="btn btn-risc col-md-3" style="margin-top:20px;margin-bottom:20px;width:auto;" (click)="showCompareAnswer()">Compare Questionnaires</button>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Survey Name</th>
        <th scope="col">Last Modify Date</th>
        <th scope="col">Interviewee</th>
        <th scope="col" colspan="2">Action</th>
      </tr>
    </thead>
  <tbody>
    <tr *ngFor="let survey of viewSurveys">
      <td>{{survey.SurveyName}}</td>
      <td>{{survey.ModifiedDate}}</td>
      <td>{{survey.IntervieweeName}}</td>
      
      <td><button (click)="getSpecificSurveyAnswers(survey.SurveyId,survey.InterviewId)">View</button></td>
      <td></td>
    </tr>
  
  </tbody>
</table>

 </div>
<div *ngIf="this.specificAnswerShow">
  <h2 *ngIf="this.allAnswer.SurveyId==20001">Patient's Survey</h2>
  <h2 *ngIf="this.allAnswer.SurveyId==20002">Guardian's Survey</h2>
  <h2 *ngIf="this.allAnswer.SurveyId==20003">Physician's Survey</h2>
  <div *ngFor="let a of this.allAnswer.Answers; let i = index;">
    <span style="font-size:18px;color:#000;"> Question {{i+1}}</span> {{this.allQuestions[0].Sections[0].Prompts[i].PromptText}}
    <p *ngFor="let b of a.Controls; let j=index;">  
      <span *ngIf="b.ControlType=='text'" style="font-size:18px;color:#000;">{{b.Value}}</span>
      <span *ngIf="b.ControlType=='checkbox'">
        {{b.ControlText}}: <i [hidden]="!b.Value" class="fas fa-check-circle text-success" ></i>
      </span>
    </p>
  </div>
</div>

<div *ngIf="this.compareAnswerShow">
  <div *ngFor="let s of this.comparedAnswers">
    <h3> {{s.Question}}</h3>
    <table class="table table-hover">
    <thead>
      <tr>  
        <th scope="col">Patient's Interview</th>
        <th scope="col">Parent's Interview</th>
        <th scope="col">Physician's Interview</th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td  *ngFor="let a of s.Answers">
            {{a.Value}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    </div>
  </div>
</div>
